<% if user_signed_in? and current_user.MRU? %>
    <li>
      <a href="javascript:void(0);" class="menu-toggle">
        <i class="material-icons">person</i>
        <span class="nav-label">Patient Management</span>
      </a>
      <ul>
        <li>
          <%= link_to 'Patients',patients_path %>
        </li>
      </ul>
    </li>
<% end %>