<!DOCTYPE html>
<style>
  .org_unit{
    float: left;
    width: 50%;
  }
  .reference{
    float: right;
    width: 50%;
  }
</style>
<div class="org_unit">
  <p>Model 19</p>
  <h2>Ethiopian Federal Ministry of Health</h2>
</div>

<div class="reference">
  Store: <u><%= @receife.store %></u><br/><br/>
  Reference No: ___________<br/>
  Date: ___________________
</div>