fieldset{
    background: #ffffff;
}
.panel-close{
    display: none;
}
.fc-title{
    white-space: initial;
}
.transparent_label{
    color: transparent;
}
.invalid-feedback{
    color: red;
}

.left_form{
    border-right: 1px solid silver;
}
form > label{
    font-size: 12px;
}
.card{
    min-height: auto;
}
.login-page{
    background-image: image-url('doc-background.png');
    background-repeat: no-repeat;
}

.details-label{
    font-weight: bold;
}
.help-block{
    color: red;
}

/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
}

.alert-alert {
    background-color: darksalmon;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
}

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
}

.alert-notice {
    background-color: darkcyan;
    border-color: #00b0e4;
    text-align: left;
}